*.pyc
swagger/*

server/secrets/*
server/nginx_config/etc/nginx/sites-available/*

src/back/config.py
src/back/log.txt
src/back/db/db.sqlite3
src/back/tests/test_db/db.sqlite3

flaskenv/*

src/front/src/js/config.py

dev.bat