.DS_Store
node_modules

# This config is machine specific, set up per machine:
vite.config.js

# This is not project source code:
dist/

# local env files
.env.local
.env.*.local
test/setup/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
